{% extends 'base.html' %}

{% set page_head_title = 'sign_in_registration' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('employee_edit.static', filename='css/employee_edit.css') }}"/>
    <script type="text/javascript" src="{{ url_for('employee_edit.static', filename = 'js/employee_edit.js') }}"></script>

{% endblock %}
{% block page_body_main_content %}
    <div class="container">
        <aside class="sign-in-block"><!--The left side of the screen-->
            <img src="{{ employee[0].image }}" border="1"/><br>
            <input type="file" name="image" id="image"/>
            <input type="submit"/>
        </aside>
        <aside class="registration-block"> <!--The right side of the screen-->
            <div class="block" id="employee-block">
                <h4 class="heading-4" id="current-info"><strong>Current Information:</strong><br>
                    Employee Name: {{ employee[0].fname | capitalize }} {{ employee[0].lname | capitalize }}<br>
                    Employee Number: {{ employee[0].number }}<br>
                    Branch: {{ employee[0].branch | capitalize }}<br>
                    Employee ID: {{ employee[0].id }}
                </h4>
                <form method="post" id="change_info" action="/update_info">
                    <legend>If you wish to update employee info, please fill info here:</legend>
                    <div class="employee-form">
                        <label for="fname">First Name:</label>
                        <input type="text" class="input" name="fname" id="fname" value="{{ employee[0].fname }}"/>
                    </div>
                    <div class="employee-form">
                        <label for="lname">Last Name</label>
                        <input type="text" class="input" name="lname" id="lname" value="{{ employee[0].lname }}"/>
                    </div>
                    <div class="employee-form">
                        <label for="number">Employee Number</label>
                        <input type="text" class="input" name="number" id="number" value="{{ employee[0].number }}"/>
                    </div>
                    <div class="employee-form">
                        <label for="number">Branch</label>
                        <input type="text" class="input" name="branch" id="branch" value="{{ employee[0].branch }}"/>
                    </div>
                    <div class="employee-form">
                        <input type="submit" value="Save and Return" name="submit"/>
                    </div>
                </form>
            </div>
        </aside>
    </div>

{% endblock %}